@import url("https://v1.fontapi.ir/css/Vazir");
@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: #242424;
}

html::-webkit-scrollbar-thumb {
  background-color: #c7a754;
  border-radius: 5px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Vazir, sans-serif;
  font-optical-sizing: auto;
}

a{
  color: white;
}
* {
  box-sizing: border-box;
}

@keyframes progressShrink {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-progress {
  animation: progressShrink 3s linear reverse;
}


.hero {
  background: linear-gradient(
    249deg,
    #ac8f43 3.91%,
    rgba(174, 144, 76, 0) 145.85%
  );
  box-shadow: 0px 6px 60px 0px rgba(199, 173, 76, 0.1),
    20px 25px 0 rgba(181, 150, 73, 0.466);
}

.btn {
  background: radial-gradient(50% 50% at 50% 50%, #c7ad4c 54.35%, #c09c47 100%);
  box-shadow: 2px 5px 20px 0px rgba(224, 197, 92, 0.1);
}

.overlay-menu {
  background: linear-gradient(
    249deg,
    #544626 3.91%,
    rgba(196, 164, 89, 0.112) 145.85%
  );
}

.btn-cssbuttons {
  position: relative;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 16px;
}

.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-left: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.btn-cssbuttons ul li a:focus {
  opacity: 0.5;
}

.btn-cssbuttons:focus::before {
  transform: scale(1.2);
}

.btn-cssbuttons:focus span,
.btn-cssbuttons:focus span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:focus ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:focus ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:focus ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:focus ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.workSampleCard {
  background: linear-gradient(
    180deg,
    rgba(56, 56, 56, 0.69) 0.03%,
    #1d1d1d 133.38%
  );
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.workSampleCard:hover {
  background: linear-gradient(180deg, rgba(56, 56, 56, 0.838), #1d1d1d 133.38%);
}

.outline-btn {
  box-shadow: 2px 5px 20px 0px rgba(224, 197, 92, 0.1);
}

.skillBtn {
  width: 100%;
  height: 70px;
  direction: ltr;
  border-radius: 50px;
  background: linear-gradient(256deg, #2c2c2c -10.93%, #3d3d3d 112.94%);
}

.navigation button{
  color: white;
}